<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Рециклиране на бутилки</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar_machine}"></div>

<div class="container mt-5">
    <div class="jumbotron text-center p-4">
        <h1 class="display-4">Натиснете бутона преди всяко добавяне на нова бутилка:</h1>
        <br>
        <a class="btn btn-primary btn-lg" href="#" onclick="addBottle(event)">Добави бутилка</a>
        <hr class="my-4">
        <h1 class="display-5 text-success font-italic">Вие рециклирахте <span th:text="${bottlesCount}">0</span>
            бутилки. Успех! 🍀</h1>
        <hr class="my-4">
        <h1 class="display-4">Ако нямате повече бутилки за рециклиране, натиснете бутона:</h1>
        <br>
        <a class="btn btn-primary btn-lg" href="print" role="button">Приключи рециклирането!</a>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function addBottle(event) {
        event.preventDefault(); // Предотвратява пренасочването към "#"

        fetch('/start', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: ''
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.href = '/start';
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }
</script>

</body>
</html>
