<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="/registerTicket">Регистрация на билет</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">Информация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/prizes">Награди</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/machines">Локации</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/myProfile">Моят профил</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Точки: <span th:text="${totalPoints}"></span></a>
    </li>
    <li class="nav-item">
        <form action="/logout" method="post">
            <input type="submit" class="btn btn-link nav-link" value="Изход от профила">
        </form>
    </li>
</ul>
