/* Custom styling for nav items */
.navbar-nav .nav-item {
    border: 2px solid darkgreen;
    border-radius: 5px;
    margin: 5px;
}

/* Ensure buttons with the dark-grey border class have the intended styles */
.dark-grey-border {
    border-color: #333333;
    border-width: 50px;
    color: white;
}

/* General Button Styling */
.btn {
    background-color: green;
    border-color: green;
}

.btn:hover {
    background-color: #15bd06;
}

/* Override green background for the logout button */
.logout-button {
    background-color: initial;
    border-color: transparent;
}

th {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    transition: background-color 0.3s;
}

th:hover {
    background-color: #e2e2e2;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.password-strength {
    color: #28a745;
}

.password-weak {
    color: #dc3545;
}

.product-list-item-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: var(--bg-color);
}

.product-list-item-description {
    font-style: italic;
}