<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>За</title>
    <link rel="icon" type="image/png" href="images/logo-removebg-preview.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">RecycleRewards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Вход</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Какво е RecycleRewards?</h1>
        <p class="lead">Приложение за печелене на награди срещу рециклиране на пластмасови бутилки.</p>
        <h1 class="display-4">Какви са стъпките за участие?</h1>
        <p class="lead">1. За да използвате приложението пълноценно, първо трябва да се регистрирате успешно <a
                href="/register"> тук</a>.</p>
        <p class="lead">2. Съберете празни пластмасови бутилки.</p>
        <p class="lead">3. Отидете до най-близкия пункт за рециклиране. Локациите можете да проверите <a
                href="/locations">тук </a>.</p>
        <p class="lead">4. Поставете бутилките в машината и вземете разпечатания билет, който съдържа уникален код. </p>
        <p class="lead">5. Влезте в профила си.</p>
        <p class="lead">6. Регистрирайте кода, който сте получили от машината, в рамките на 72 часа от получаването
            му.</p>
        <p class="lead">7. Получавате толкова точки, колкото бутилки сте рециклирали, умножени по 5.</p>
        <p>(Ако рециклирате 20 бутилки, то получавате 100 точки в профила си.)</p>
        <p class="lead">8. Обменяте точките си за награди или за билети за участие в някоя от томболите с наградите.</p>

        <h1 class="display-5"> Желаем Ви успех! И помнете, че с всяка рециклирана бутилка правите добро! ☘️ </h1>

        <img src="/images/logo.jpg" alt="Logo">
        <br>
        <br>
        <a class="btn btn-primary btn-medium" href="/home" role="button">Върнете се в началната страница</a>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">© Румен Николов - 121220087 - ТУ-София</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
