<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Информация</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">RecycleRewards</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <th:block th:if="${loggedUser != null}">
            <div th:replace="~{fragments/navbar-logged-in}"></div>
        </th:block>
        <th:block th:unless="${loggedUser != null}">
            <div th:replace="~{fragments/navbar-logged-out}"></div>
        </th:block>
    </div>
</nav>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Какво е RecycleRewards?</h1>
        <p class="lead">Приложение за печелене на награди срещу рециклиране на пластмасови бутилки.</p>
        <h1 class="display-4">Какви са стъпките за участие?</h1>
        <p class="lead">1. За да използвате приложението пълноценно, първо трябва да се регистрирате успешно <a
                href="/register"> тук</a>.</p>
        <p class="lead">2. Съберете празни пластмасови бутилки.</p>
        <p class="lead">3. Отидете до най-близкия пункт за рециклиране. Локациите можете да проверите <a
                href="/locations">тук </a>.</p>
        <p class="lead">4. Поставете бутилките в машината и вземете разпечатания билет, който съдържа уникален код. </p>
        <p class="lead">5. Влезте в профила си.</p>
        <p class="lead">6. Регистрирайте кода, който сте получили от машината, в рамките на 72 часа от получаването
            му.</p>
        <p class="lead">7. Всяка бутилка носи 5 точки. Например, ако рециклирате 20 бутилки, ще получите 100 точки в
            профила си.</p>
        <p class="lead">8. Обменяте точките си за награди или за билети за участие в някоя от томболите с наградите.</p>

        <h1 class="display-5"> Желаем Ви успех! И помнете, че с всяка рециклирана бутилка правите добро! ☘️ </h1>

        <img alt="Logo" src="/images/logo.jpg">
        <br>
        <br>
        <a class="btn btn-primary btn-medium" href="/home" role="button"
           style="background-color: green; border-color: green;">Върнете се в началната страница</a>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">© Румен Николов - 121220087 - ТУ-София</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>