<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Успешно активиране на профил</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        body {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <div class="jumbotron">
        <h1>Активиране на профила...!</h1>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>