<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Account Activation</h1>
        <div th:if="${success}" class="alert alert-success text-center">
            <p th:text="${success}"></p>
        </div>
        <div th:if="${error}" class="alert alert-danger text-center">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
</body>
</html>
