<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавяне на награди</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Добавяне на награди 🎁</h1>
        <hr class="my-4">
        <br>
        <form action="/admin_add_prizes" id="addPrizeForm" method="post">
            <div class="form-group">
                <label for="name">Име на наградата:</label>
                <input class="form-control" id="name" name="name" required type="text">

                <label for="description">Описание: </label>
                <input class="form-control" id="description" name="description" required type="text">

                <label for="neededPointsToBuy">Необходим брой точки за закупуване на 1 билет: </label>
                <input class="form-control" id="neededPointsToBuy" name="neededPointsToBuy" required type="number">

                <label for="totalTickets">Общ брой на билетите: </label>
                <input class="form-control" id="totalTickets" name="totalTickets" required type="number">

                <label for="startDateTime">Начален ден и час </label>
                <input class="form-control" id="startDateTime" name="startDateTime" required type="datetime-local">


                <label for="type">Тип на наградата:</label>
                <select class="form-control" id="type" name="type" required>
                    <option th:each="type : ${prizeTypes}" th:text="${type}" th:value="${type}">Тип на наградата
                    </option>
                </select>

                <br>

                <button class="btn btn-primary btn-lg" id="addPrizeButton" type="submit">Добавяне на наградата</button>

                <div id="successMessageContainer" style="display: none; margin-top: 10px;">
                    <p class="text-success" id="successMessage">You added the prize successfully</p>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log("Document ready!");

        document.getElementById('addPrizeForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(this);

            fetch('/admin_add_prizes', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Грешка при добавянето на наградата. Моля, опитайте отново!');
                    }
                })
                .then(data => {
                    document.getElementById('successMessage').textContent = data;
                    document.getElementById('successMessageContainer').style.display = 'block';

                    this.reset();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>

</body>
</html>