<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Потребители</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">
            <img alt="profile" height="80" src="/images/users.svg" width="80">
            Потребители</h1>
        <hr class="my-4">
        <p>Не забравяйте, че можете да сортирате редовете в таблицата като натиснете върху името на колоната, по която
            желаете да сортирате таблицата веднъж, за да сортирате текста в колоната по азбучен ред, а при повторно
            натискане: по обратен ред.</p>
        <br>
        <div style="overflow-x:auto; overflow-y:auto; max-height: 400px;">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="text-center" scope="col">№</th>
                    <th class="text-center" scope="col">Име</th>
                    <th class="text-center" scope="col">Фамилия</th>
                    <th class="text-center" scope="col">Имейл</th>
                    <th class="text-center" scope="col">Телефон</th>
                    <th class="text-center" scope="col">Дата на регистрация</th>
                    <th class="text-center" scope="col">Точки</th>
                    <th class="text-center" scope="col">Роля</th>
                    <th class="text-center" scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, rowStat : ${users}">
                    <td><span class="text-center" th:text="${user.userCode}"></span></td>
                    <td><span class="editable text-center" contenteditable="true" th:text="${user.firstName}"></span>
                    </td>
                    <td><span class="editable text-center" contenteditable="true" th:text="${user.lastName}"></span>
                    </td>
                    <td><span class="editable text-center" contenteditable="true" th:text="${user.email}"></span></td>
                    <td><span class="editable text-center" contenteditable="true" th:text="${user.phone}"></span></td>
                    <td><span class="text-center"
                              th:text="${#temporals.format(user.registrationDate, 'yyyy-MM-dd')}"></span></td>
                    <td><span class="text-center" th:text="${user.totalPoints}"></span></td>
                    <td><span class="editable text-center" contenteditable="true" th:text="${user.role}"></span></td>
                    <td>
                        <button class="btn btn-primary btn-sm edit-btn mr-1">Edit</button>
                        <button class="btn btn-danger btn-sm delete-btn mr-1">Delete</button>
                        <button class="btn btn-success btn-sm save-btn" style="display: none;">Save</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <label for="userCode">Потребител №:</label>
            <input class="form-control" id="userCode" name="userCode" type="number">
            <br>
            <button class="btn btn-primary" id="showAddressBtn" type="button">Покажи адреса на потребителя</button>
        </div>
        <div class="alert alert-danger mt-3" id="errorMessage" style="display: none;">
            Потребителят не е намерен! Опитайте с друг номер.
        </div>
        <div class="modal-body" id="addressModalBody">
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function () {
        $('#showAddressBtn').on('click', function () {
            var userCode = $('#userCode').val();

            $.get('/admin_users/address/' + userCode, function (data, status) {
                if (status === 'success') {
                    var address = JSON.parse(data);

                    var addressHtml = '<table class="table">';
                    addressHtml += '<tr><th>Адрес</th><th>Стойност</th></tr>';
                    addressHtml += '<tr><td>Град</td><td>' + address.city + '</td></tr>';
                    addressHtml += '<tr><td>Пощенски код</td><td>' + address.postcode + '</td></tr>';
                    addressHtml += '<tr><td>Улица</td><td>' + address.street + '</td></tr>';
                    addressHtml += '<tr><td>Улица №</td><td>' + address.streetNumber + '</td></tr>';
                    addressHtml += '<tr><td>Етаж</td><td>' + address.floor + '</td></tr>';
                    addressHtml += '<tr><td>Апартамент №</td><td>' + address.apartmentNumber + '</td></tr>';
                    addressHtml += '</table>';

                    $('#addressModalBody').html(addressHtml);
                    $('#addressModal').modal('show');

                    $('#errorMessage').hide();
                }
                }).fail(function(xhr, status, error) {
                    $('#errorMessage').show().text('Не е намерен потребител с този номер.');
                    console.error('Възникна грешка:', error);
                });
            });
        });


        var sortOrders = {}; // Object to track sorting orders for each column

        $('th').on('click', function () {
            var columnIndex = $(this).index();

            sortOrders[columnIndex] = (sortOrders[columnIndex] === 'asc') ? 'desc' : 'asc';

            var $tbody = $('table tbody');

            var rows = $tbody.find('tr').toArray();
            rows.sort(function (a, b) {
                var valueA = $(a).find('td:eq(' + columnIndex + ') span').text();
                var valueB = $(b).find('td:eq(' + columnIndex + ') span').text();

                if (sortOrders[columnIndex] === 'asc') {
                    return (valueA < valueB) ? -1 : (valueA > valueB) ? 1 : 0;
                } else {
                    return (valueA > valueB) ? -1 : (valueA < valueB) ? 1 : 0;
                }
            });

            // Reorder the rows in the table
            $.each(rows, function (index, row) {
                $tbody.append(row);
            });
        });


        // Event handler for Edit button
        $(document).on('click', '.edit-btn', function () {
            // Find the closest row
            var $row = $(this).closest('tr');

            // Enable editing for all cells
            $row.find('.editable').prop('contenteditable', true);

            // Change background color of the row to yellow
            $row.css('background-color', 'yellow');

            // Hide the Delete button and show the Save button
            $row.find('.delete-btn').hide();
            $row.find('.save-btn').show();
            $(this).hide();
        });

        // Event handler for Save button
        $(document).on('click', '.save-btn', function () {
            // Find the closest row
            var $row = $(this).closest('tr');

            // Disable editing for all cells
            $row.find('.editable').prop('contenteditable', false);

            // Revert background color of the row to white
            $row.css('background-color', 'white');

            // Show the Delete button and Edit button, hide the Save button
            $row.find('.delete-btn').show();
            $row.find('.edit-btn').show();
            $(this).hide();

            // Extract updated data from the row
            var userId = $row.find('td:eq(0) span').text();
            var firstName = $row.find('td:eq(1) span').text();
            var lastName = $row.find('td:eq(2) span').text();
            var email = $row.find('td:eq(3) span').text();
            var phone = $row.find('td:eq(4) span').text();

// Send AJAX request to update user data
            $.ajax({
                url: '/update/' + userId,
                type: 'PATCH',
                contentType: 'application/json', // Set content type to JSON
                data: JSON.stringify({
                    id: userId,
                    firstName: firstName,
                    lastName: lastName,
                    email: email,
                    phone: phone
                }),
                success: function (response) {
                    // Handle success response
                    console.log('User updated successfully');
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.error('Error updating user');
                }
            });

        });

        // Event handler for Delete button
        $(document).on('click', '.delete-btn', function () {
            // Find the closest row
            var $row = $(this).closest('tr');

            // Extract user ID from the Edit button in the same row
            var userId = $row.find('td:eq(0) span').text();

            // Send AJAX request to delete user
            $.ajax({
                url: '/delete/' + userId,
                type: 'GET', // Change the request type to GET
                success: function (response) {
                    // Handle success response, maybe show a message or refresh the page
                    console.log('User deleted successfully');
                    window.location.reload(); // Refresh the page
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.error('Error deleting user');
                }
            });
        });
</script>

</body>
</html>