<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Начална страница</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">RecycleRewards</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <th:block th:if="${loggedUser != null}">
            <div th:if="${loggedUser.getRole() == 'ADMIN'}" th:replace="~{fragments/navbar_admin}"></div>
            <div th:if="${loggedUser.getRole() == 'CLIENT'}" th:replace="~{fragments/navbar-logged-in}"></div>
        </th:block>
        <th:block th:if="${loggedUser == null}">
            <div th:replace="~{fragments/navbar-logged-out}"></div>
        </th:block>
    </div>
</nav>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">
            <span th:if="${loggedUser != null && loggedUser.getFirstName() != null}"
                  th:text="${loggedUser.getFirstName()}"></span>
            <span th:if="${loggedUser != null && loggedUser.getLastName() != null}"
                  th:text="${loggedUser.getLastName()}"></span>
        </h1>
        <h1 class="display-4">Добре дошли в RecycleRewards!</h1>

        <p class="lead">Тук с всяка рециклирана бутилка печелите!</p>
        <hr class="my-4">
        <p>Рециклирането е най-важното действие, ако искаме нашата скъпоценна планета да оцелее.</p>
        <img alt="Logo" height="200" src="/images/logo.jpg" width="200">
        <br>
        <br>
        <a class="btn btn-primary btn-lg" href="about" role="button"
           style="background-color: green; border-color: green;">Научете повече за RecycleRewards</a>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>