<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Начална страница</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-4">
    <div class="jumbotron text-center p-4">
        <h1 class="display-4">
            <span th:if="${loggedUser != null && loggedUser.getFirstName() != null}"
                  th:text="${loggedUser.getFirstName()}"></span>
            <span th:if="${loggedUser != null && loggedUser.getLastName() != null}"
                  th:text="${loggedUser.getLastName()}"></span>
        </h1>

        <div th:if="${loggedUser==null}">
            <h1 class="display-4">👋 Добре дошли в RecycleRewards!</h1>
            <p class="lead">Тук с всяка рециклирана пластмасова бутилка печелите!</p>
            <hr class="my-4">
            <h4 class="text-success font-italic">Участниците в "RecycleRewards" са добавили
                <span th:text="${totalBottles != null ? totalBottles : '0'}">0</span> бутилки в нашите машини като по
                този начин те са рециклирали
                ~<span th:text="${#numbers.formatDecimal(totalKg, 1, 'DEFAULT', 2, 'DEFAULT')}">0</span>кг. пластмаса!
            </h4>
        </div>


        <div th:if="${loggedUser!=null}">
            <h1 class="display-4">Поздравления❗</h1>
            <hr class="my-4">

            <h4 class="text-success font-italic">Вие сте добавили <span
                    th:text="${userTotalBottles != null ? userTotalBottles : '0'}">0</span> бутилки
                в нашите машини като по този начин сте рециклирали ~<span
                        th:text="${#numbers.formatDecimal(userKgBottles, 1, 'DEFAULT', 2, 'DEFAULT')}">0</span>кг.
                пластмаса!
            </h4>
        </div>
        <br>
        <img alt="" height="200" src="/images/recycle.png">
        <p>Защитете Земята, рециклирайки с усмивка!</p>
        <a class="btn btn-primary btn-lg" href="about" role="button">Какво е RecycleRewards?</a>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>