<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Начална страница</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">
            <span th:if="${loggedUser != null && loggedUser.getFirstName() != null}"
                  th:text="${loggedUser.getFirstName()}"></span>
            <span th:if="${loggedUser != null && loggedUser.getLastName() != null}"
                  th:text="${loggedUser.getLastName()}"></span>
        </h1>
        <h1 class="display-4">Добре дошли в RecycleRewards!</h1>
        <p class="lead">Тук с всяка рециклирана бутилка печелите!</p>
        <hr class="my-4">
        <p>Рециклирането е най-важното действие, ако искаме нашата скъпоценна планета да оцелее.</p>
        <img alt="Logo" height="200" src="/images/logo.jpg" width="200">
        <br><br>
        <a class="btn btn-primary btn-lg" href="about" role="button"
           style="background-color: green; border-color: green;">Научете повече за RecycleRewards</a>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>