<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Старт</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-3">Натиснете бутона за стартиране:</h1>
        <hr class="my-4">
        <img alt="1bottleIs5points" src="/images/bottlePoints.png">
        <h1 class="display-5"></h1>
        <br>
        <a class="btn btn-primary btn-lg" href="start" role="button">Започни рециклирането</a>
    </div>
</div>

</body>
<div th:replace="~{fragments/footer}"></div>
</html>