<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Старт</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar_machine}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron text-center">
                <h1 class="display-3">Събиране на точки</h1>
                <hr class="my-4">
                <img alt="1bottleIs5points" src="/images/bottlePoints.png" width="400px">
                <h1 class="display-5"></h1>
                <br>
                <a class="btn btn-primary btn-lg" href="start" role="button">Започни рециклирането</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron text-center">
                <h1 class="display-3">Получаване на ваучер</h1>
                <hr class="my-4">
                <img alt="1bottleIs5points" src="/images/stotinki.png" width="400px">
                <h1 class="display-5"></h1>
                <br>
                <a class="btn btn-primary btn-lg" href="start" role="button">Започни рециклирането</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>
