<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">RecycleRewards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <th:block th:if="${loggedUser != null}">
            <div th:replace="~{fragments/navbar-logged-in}"></div>
        </th:block>
        <th:block th:unless="${loggedUser != null}">
            <div th:replace="~{fragments/navbar-logged-out}"></div>
        </th:block>
    </div>

</nav>


<div class="container">
    <h2>Вход в профила</h2>

    <!-- Display error message if login fails -->
    <div th:if="${error}" class="alert alert-danger" role="alert">
        Невалиден email или парола! Опитайте отново!
    </div>

    <!-- Login form -->
    <form action="/login" method="post" accept-charset="UTF-8">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Парола:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Вход</button>
    </form>
</div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>