<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container">
    <h2>Вход в профила</h2>

    <!-- Display error message if login fails -->
    <div class="alert alert-danger" role="alert" th:if="${error}">
        Невалиден email или парола! Опитайте отново!
    </div>

    <!-- Login form -->
    <form accept-charset="UTF-8" action="/login" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" id="email" name="email" required type="text">
        </div>
        <div class="form-group">
            <label for="password">Парола:</label>
            <input class="form-control" id="password" name="password" required type="password">
        </div>
        <button class="btn btn-primary" type="submit">Вход</button>
    </form>
    <br>
</div>

<div th:replace="~{fragments/footer}"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>