<!DOCTYPE html>
<html>
<head>
    <title>Локации</title>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Старт</title>
        <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBre-86uFZSf1ld88qvLeza7FMb2pJwnIY&callback=initMap"></script>
    <script>
        var map;

        function initMap() {
            var mapOptions = {
                center: {lat: 42.6977, lng: 23.3219},
                zoom: 11.6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);


            var locations = [
                {lat:  42.6418715, lng: 23.3361706, title: 'Кауфланд - Малинова долина', description: 'ж.к. Малинова долина, ул. „Проф. д-р Иван Странски“ 20, 1000 София'},
                {lat:  42.6458327, lng: 23.3791261, title: 'Кауфланд - Младост', description: 'ж.к. Младост 3Младост, ул. „Филип Аврамов“ 3, 1712 София'},
                {lat:  42.670452, lng: 23.2734864, title: 'Кауфланд - Витоша', description: 'ж.к. Младост 3Младост, ул. „Филип Аврамов“ 3, 1712 София'},

            ];

            locations.forEach(function (location) {
                var marker = new google.maps.Marker({
                    position: {lat: location.lat, lng: location.lng},
                    map: map,
                    title: location.title,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                });

                // Optional: Add info window
                var infoWindow = new google.maps.InfoWindow({
                    content: location.title + '<br>' + location.description
                });

                marker.addListener('click', function () {
                    infoWindow.open(map, marker);
                });
            });
        }
    </script>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">RecycleRewards</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <th:block th:if="${loggedUser != null}">
            <div th:if="${loggedUser.getRole() == 'ADMIN'}" th:replace="~{fragments/navbar_admin}"></div>
            <div th:if="${loggedUser.getRole() == 'CLIENT'}" th:replace="~{fragments/navbar-logged-in}"></div>
        </th:block>
        <th:block th:if="${loggedUser == null}">
            <div th:replace="~{fragments/navbar-logged-out}"></div>
        </th:block>
    </div>

</nav>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Локации</h1>
        <p class="lead">Ето къде можете да рециклирате своите бутилки:</p>

        <hr class="my-4">
        <br>
        <div id="map" style="height: 400px; width: 100%;"></div>
        <div style="overflow-x:auto; overflow-y:auto; max-height: 400px;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Име</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имейл</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Дата на регистрация</th>
                    <th scope="col">Точки</th>
                    <th scope="col">Роля</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, rowStat : ${users}">
                    <td><span th:text="${user.id}"></span></td>
                    <td><span class="editable" contenteditable="true" th:text="${user.firstName}"></span></td>
                    <td><span class="editable" contenteditable="true" th:text="${user.lastName}"></span></td>
                    <td><span class="editable" contenteditable="true" th:text="${user.email}"></span></td>
                    <td><span class="editable" contenteditable="true" th:text="${user.phone}"></span></td>
                    <td th:text="${user.registrationDate}"></td>
                    <td th:text="${user.totalPoints}"></td>
                    <td class="editable" contenteditable="true" th:text="${user.role}"></td>
                    <td>
                        <button class="btn btn-primary btn-sm edit-btn">Edit</button>
                        <button class="btn btn-danger btn-sm delete-btn">Delete</button>
                        <button class="btn btn-success btn-sm save-btn" style="display: none;">Save</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <a class="btn btn-primary btn-lg" href="about" role="button">Научете повече за RecycleRewards</a>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>