<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Локации</title>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Старт</title>
        <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBre-86uFZSf1ld88qvLeza7FMb2pJwnIY&callback=initMap"></script>
    <script>
        var map;

        function initMap() {
            var mapOptions = {
                center: {lat: 42.6977, lng: 23.3219},
                zoom: 11.6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);


            var locations = [
                {
                    lat: 42.6418715,
                    lng: 23.3361706,
                    title: 'Кауфланд - Малинова долина',
                    description: 'ж.к. Малинова долина, ул. „Проф. д-р Иван Странски“ 20, 1000, София'
                },
                {
                    lat: 42.6458327,
                    lng: 23.3791261,
                    title: 'Кауфланд - Младост',
                    description: 'ж.к. Младост 3Младост, ул. „Филип Аврамов“ 3, 1712, София'
                },
                {
                    lat: 42.670452,
                    lng: 23.2734864,
                    title: 'Кауфланд - Витоша',
                    description: 'ж.к. Бъкстон, ул. „Тодор Каблешков“ 3, 1618, София'
                },

            ];

            locations.forEach(function (location) {
                var marker = new google.maps.Marker({
                    position: {lat: location.lat, lng: location.lng},
                    map: map,
                    title: location.title,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                });

                // Optional: Add info window
                var infoWindow = new google.maps.InfoWindow({
                    content: location.title + '<br>' + location.description
                });

                marker.addListener('click', function () {
                    infoWindow.open(map, marker);
                });
            });
        }
    </script>
<body>

<div th:replace="~{fragments/navbar}"></div>


<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">📍Локации</h1>
        <p class="lead">Вижте къде можете да рециклирате своите бутилки:</p>

        <hr class="my-4">
        <br>
        <div id="map" style="height: 400px; width: 100%;"></div>
        <br>

        <div style="overflow-x:auto; overflow-y:auto; max-height: 400px;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Име локация</th>
                    <th scope="col">Град</th>
                    <th scope="col">Пощенски код</th>
                    <th scope="col">Улица</th>
                    <th scope="col">Номер</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="machine : ${machines}">
                    <td><span th:text="${machine.id}"></span></td>
                    <td><span th:text="${machine.locationName}"></span></td>
                    <td><span th:text="${machine.getAddress().city}"></span></td>
                    <td><span th:text="${machine.getAddress().postcode}"></span></td>
                    <td><span th:text="${machine.getAddress().street}"></span></td>
                    <td><span th:text="${machine.getAddress().streetNumber}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <a class="btn btn-primary btn-lg" href="about" role="button">Научете повече за RecycleRewards</a>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>