<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Моят профил</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4"><img alt="profile" height="80" src="/images/profile.svg" width="80">
            Профилът на
            <span th:if="${loggedUser != null && loggedUser.getFirstName() != null}"
                  th:text="${loggedUser.getFirstName()}"></span>
            <span th:if="${loggedUser != null && loggedUser.getLastName() != null}"
                  th:text="${loggedUser.getLastName()}"></span>
        </h1>
        <hr class="my-4">
        <div class="form-group">
            <label for="filter">Филтър:</label>
            <select class="form-control" id="filter">
                <option value="personal">Моите лични данни</option>
                <option value="tickets">Закупени билети за томбола</option>
                <option value="prizes">Спечелени награди</option>
            </select>
        </div>
        <hr class="my-4">
        <div id="personalData" style="display: block;">
            <h2>Моите лични данни</h2>
            <form action="/myProfile" id="profileForm" method="post">
                <input name="_method" type="hidden" value="patch">
                <div class="form-group">
                    <img alt="person" height="18" src="/images/person.svg" width="22">
                    <label for="firstName">Първо име: (*)</label>
                    <input class="form-control" id="firstName" name="firstName" required
                           th:value="${loggedUser != null && loggedUser.getFirstName() != null ? loggedUser.getFirstName() : ''}"
                           type="text">
                </div>
                <div class="form-group">
                    <img alt="person" height="18" src="/images/person.svg" width="22">
                    <label for="lastName">Фамилия: (*)</label>
                    <input class="form-control" id="lastName" name="lastName" required
                           th:value="${loggedUser != null && loggedUser.getLastName() != null ? loggedUser.getLastName() : ''}"
                           type="text">
                </div>
                <div class="form-group">
                    <img alt="email" height="15" src="/images/email.svg" width="20">
                    <label for="email">Електронна поща: (*)</label>
                    <input class="form-control" id="email" name="email" required
                           th:value="${loggedUser != null && loggedUser.getEmail() != null ? loggedUser.getEmail()  : ''}"
                           type="email">
                </div>
                <div class="form-group">
                    <img alt="telephoneNumber" height="15" src="/images/telephone.svg" width="20">
                    <label for="telephoneNumber">Телефонен номер: (*)</label>
                    <input class="form-control" id="telephoneNumber" name="telephoneNumber"
                           th:value="${loggedUser != null && loggedUser.getPhone() != null ? loggedUser.getPhone()  : ''}"
                           type="text">
                </div>
                <h1 class="display-4">Личен дрес</h1>
                <hr class="my-4">
                <div class="form-group">
                    <img alt="city" height="15" src="/images/city.svg" width="20">
                    <label for="city">Град: (*)</label>
                    <input class="form-control" id="city" name="city"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getCity() != null ? loggedUser.getAddress().getCity() : ''}"
                           type="text">
                </div>
                <div class="form-group">
                    <img alt="postCode" height="15" src="/images/number.svg" width="20">
                    <label for="postCode">Пощенски код: (*)</label>
                    <input class="form-control" id="postCode" name="postCode"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getPostcode() != null ? loggedUser.getAddress().getPostcode() : ''}"
                           type="number">
                </div>
                <div class="form-group">
                    <img alt="street" height="15" src="/images/street.svg" width="20">
                    <label for="street">Улица: (*)</label>
                    <input class="form-control" id="street" name="street"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getStreet() != null ? loggedUser.getAddress().getStreet() : ''}"
                           type="text">
                </div>
                <div class="form-group">
                    <img alt="streetNumber" height="15" src="/images/number.svg" width="20">
                    <label for="streetNumber">Улица номер: (*)</label>
                    <input class="form-control" id="streetNumber" name="streetNumber"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getStreetNumber() != null ? loggedUser.getAddress().getStreetNumber() : ''}"
                           type="number">
                </div>
                <div class="form-group">
                    <img alt="floor" height="15" src="/images/number.svg" width="20">
                    <label for="floor">Етаж:</label>
                    <input class="form-control" id="floor" name="floor"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getFloor() != null ? loggedUser.getAddress().getFloor() : ''}"
                           type="number">
                </div>
                <div class="form-group">
                    <img alt="apartment_number" height="15" src="/images/number.svg" width="20">
                    <label for="apartmentNumber">Апартамент номер:</label>
                    <input class="form-control" id="apartmentNumber" name="apartmentNumber"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getApartmentNumber() != null ? loggedUser.getAddress().getApartmentNumber() : ''}"
                           type="number">
                </div>
                <button class="btn btn-primary" type="submit">Актуализиране на данните</button>
                <div id="messageArea"></div>
            </form>
        </div>
        <div id="boughtTickets" style="display: none;">
            <div style="overflow-x:auto; overflow-y:auto; max-height: 400px;">
                <h2>Закупени билети за томбола</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">
                            ID покупка
                            <select class="filter-select" data-column="0">
                                <option value="">Всички</option>
                            </select>
                        </th>
                        <th scope="col">
                            Дата на закупения билет
                            <select class="filter-select" data-column="1">
                                <option value="">Всички</option>
                            </select>
                        </th>
                        <th scope="col">
                            ID Награда
                            <select class="filter-select" data-column="2">
                                <option value="">Всички</option>
                            </select>
                        </th>
                        <th scope="col">
                            Награда
                            <select class="filter-select" data-column="3">
                                <option value="">Всички</option>
                            </select>
                        </th>
                        <th scope="col">
                            Описание
                            <select class="filter-select" data-column="4">
                                <option value="">Всички</option>
                            </select>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="purchase : ${purchases}"
                        th:if="${purchase.prize.getType() == T(com.fcst.student.RecycleRewards.model.enums.PrizeType).RAFFLE}">
                        <td th:text="${purchase.id}"></td>
                        <td th:text="${purchase.purchaseDate}"></td>
                        <td th:text="${purchase.prize.getId()}"></td>
                        <td th:text="${purchase.prize.getName()}"></td>
                        <td th:text="${purchase.prize.getDescription()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="wonPrizes" style="display: none;">
            <div style="overflow-x:auto; overflow-y:auto; max-height: 400px;">
                <h2>Спечелени награди</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID Награда</th>
                        <th scope="col">Награда</th>
                        <th scope="col">Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prize : ${loggedUser.prizes}">
                        <td th:text="${prize.getId()}"></td>
                        <td th:text="${prize.getName()}"></td>
                        <td th:text="${prize.getDescription()}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script>
    document.getElementById('filter').addEventListener('change', function () {
        const filter = this.value;
        document.getElementById('personalData').style.display = filter === 'personal' ? 'block' : 'none';
        document.getElementById('boughtTickets').style.display = filter === 'tickets' ? 'block' : 'none';
        document.getElementById('wonPrizes').style.display = filter === 'prizes' ? 'block' : 'none';
    });

    function showMessage(message, isError) {
        const messageArea = document.getElementById('messageArea');
        messageArea.innerText = message;
        messageArea.className = isError ? 'error-message' : 'success-message';
    }

    document.getElementById('profileForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);

        fetch(form.action, {
            method: form.method,
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    if (response.status === 400) {
                        return response.text();
                    } else {
                        throw new Error('Network response was not ok');
                    }
                }
            })
            .then(data => {
                showMessage(data, !data.startsWith("Данните са актуализирани успешно!"));
            })
            .catch(error => {
                showMessage(error.message, true);
            });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const table = document.querySelector('.table');
        const rows = table.querySelectorAll('tbody tr');
        const selects = document.querySelectorAll('.filter-select');

        const filterTable = () => {
            const filters = Array.from(selects).map(select => select.value);

            rows.forEach(row => {
                const cells = Array.from(row.cells);
                const shouldDisplay = cells.every((cell, index) => {
                    return filters[index] === '' || cell.innerText === filters[index];
                });

                row.style.display = shouldDisplay ? '' : 'none';
            });
        };

        selects.forEach(select => {
            select.addEventListener('change', filterTable);
        });

        const populateFilters = () => {
            selects.forEach(select => {
                const columnIndex = select.getAttribute('data-column');
                const uniqueValues = new Set();

                rows.forEach(row => {
                    const cellValue = row.cells[columnIndex].innerText;
                    uniqueValues.add(cellValue);
                });

                uniqueValues.forEach(value => {
                    const option = document.createElement('option');
                    option.value = value;
                    option.textContent = value;
                    select.appendChild(option);
                });
            });
        };

        populateFilters();
    });
</script>
</body>
</html>