<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Моят профил</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .success-message {
            color: green;
        }

        .error-message {
            color: red;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">RecycleRewards</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <th:block th:if="${loggedUser != null}">
            <div th:replace="~{fragments/navbar-logged-in}"></div>
        </th:block>
        <th:block th:unless="${loggedUser != null}">
            <div th:replace="~{fragments/navbar-logged-out}"></div>
        </th:block>
    </div>
</nav>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Профилът на
            <span th:if="${loggedUser != null && loggedUser.getFirstName() != null}"
                  th:text="${loggedUser.getFirstName()}"></span>
            <span th:if="${loggedUser != null && loggedUser.getLastName() != null}"
                  th:text="${loggedUser.getLastName()}"></span>
        </h1>
        <hr class="my-4">

        <div class="form-group">
            <label for="filter">Филтър:</label>
            <select class="form-control" id="filter">
                <option value="personal">Моите лични данни</option>
                <option value="tickets">Закупени билети за томбола</option>
                <option value="prizes">Печалби</option>
            </select>
        </div>

        <hr class="my-4">

        <div id="personalData" style="display: block;">
            <h2>Моите лични данни</h2>
            <form action="/myProfile" id="profileForm" method="post">
                <input name="_method" type="hidden" value="patch">
                <div class="form-group">
                    <label for="firstName">Първо име: (*)</label>
                    <input class="form-control" id="firstName" name="firstName" required
                           th:value="${loggedUser != null && loggedUser.getFirstName() != null ? loggedUser.getFirstName() : ''}"
                           type="text">
                </div>
                <div class="form-group">
                    <label for="lastName">Фамилия: (*)</label>
                    <input class="form-control" id="lastName" name="lastName" required
                           th:value="${loggedUser != null && loggedUser.getLastName() != null ? loggedUser.getLastName() : ''}"
                           type="text">
                </div>
                <div class="form-group">
                    <label for="email">Електронна поща: (*)</label>
                    <input class="form-control" id="email" name="email" required
                           th:value="${loggedUser != null && loggedUser.getEmail() != null ? loggedUser.getEmail()  : ''}"
                           type="email">
                </div>
                <div class="form-group">
                    <label for="email">Телефонен номер: (*)</label>
                    <input class="form-control" id="telephoneNumber" name="telephoneNumber"
                           th:value="${loggedUser != null && loggedUser.getPhone() != null ? loggedUser.getPhone()  : ''}"
                           type="text">
                </div>
                <h1 class="display-4">Личен дрес</h1>
                <hr class="my-4">
                <div class="form-group">
                    <label for="city">Град: (*)</label>
                    <input class="form-control" id="city" name="city"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getCity() != null ? loggedUser.getAddress().getCity() : ''}"
                           type="text">
                </div>
                <div class="form-group">
                    <label for="postCode">Пощенски код: (*)</label>
                    <input class="form-control" id="postCode" name="postCode"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getPostcode() != null ? loggedUser.getAddress().getPostcode() : ''}"
                           type="number">
                </div>
                <div class="form-group">
                    <label for="street">Улица: (*)</label>
                    <input class="form-control" id="street" name="street"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getStreet() != null ? loggedUser.getAddress().getStreet() : ''}"
                           type="text">

                </div>
                <div class="form-group">
                    <label for="streetNumber">Улица номер: (*)</label>
                    <input class="form-control" id="streetNumber" name="streetNumber"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getStreetNumber() != null ? loggedUser.getAddress().getStreetNumber() : ''}"
                           type="number">

                </div>
                <div class="form-group">
                    <label for="floor">Етаж:</label>
                    <input class="form-control" id="floor" name="floor"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getFloor() != null ? loggedUser.getAddress().getFloor() : ''}"
                           type="number">

                </div>
                <div class="form-group">
                    <label for="apartmentNumber">Апартамент номер:</label>
                    <input class="form-control" id="apartmentNumber" name="apartmentNumber"
                           th:value="${loggedUser != null && loggedUser.getAddress() != null && loggedUser.getAddress().getApartmentNumber() != null ? loggedUser.getAddress().getApartmentNumber() : ''}"
                           type="number">

                </div>
                <button class="btn btn-primary" type="submit">Актуализиране на данните</button>
                <div id="messageArea"></div>
            </form>
        </div>

        <div id="boughtTickets" style="display: none;">
            <h2>Закупени билети за томбола</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID покупка</th>
                    <th scope="col">Дата на покупка</th>
                    <th scope="col">ID Награда</th>
                    <th scope="col">Награда</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Начална дата</th>
                    <th scope="col">Крайна дата</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="purchase : ${purchases}">
                    <td th:text="${purchase.id}"></td>
                    <td th:text="${purchase.purchaseDate}"></td>
                    <td th:text="${purchase.prize.getId()}"></td>
                    <td th:text="${purchase.prize.getName()}"></td>
                    <td th:text="${purchase.prize.getDescription()}"></td>
                    <td th:text="${purchase.prize.getStartDate()}"></td>
                    <td th:text="${purchase.prize.getEndDate()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="wonPrizes" style="display: none;">
            <h2>Спечелени награди</h2>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script>
    // Function to show/hide sections based on selected filter
    document.getElementById('filter').addEventListener('change', function () {
        const filter = this.value;
        document.getElementById('personalData').style.display = filter === 'personal' ? 'block' : 'none';
        document.getElementById('boughtTickets').style.display = filter === 'tickets' ? 'block' : 'none';
        document.getElementById('wonPrizes').style.display = filter === 'prizes' ? 'block' : 'none';
    });

    // Function to display success or error message
    function showMessage(message, isError) {
        const messageArea = document.getElementById('messageArea');
        messageArea.innerText = message;
        messageArea.className = isError ? 'error-message' : 'success-message';
    }

    // Submit form using AJAX to handle response dynamically
    document.getElementById('profileForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);

        fetch(form.action, {
            method: form.method,
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    if (response.status === 400) {
                        return response.text();
                    } else {
                        throw new Error('Network response was not ok');
                    }
                }
            })
            .then(data => {
                showMessage(data, !data.startsWith("Данните са актуализирани успешно!"));
            })
            .catch(error => {
                showMessage(error.message, true);
            });
    });
</script>
</body>
</html>