<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Принтиране</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar_machine}"></div>

<div class="container mt-5">
    <div class="jumbotron text-center p-4">
        <div class="card-body">
            <h1 class="display-3">Поздравления!👏</h1>
            <hr>
            <h1 class="display-5 text-success">Днес Вие рециклирахте <span th:text="${bottlesCount}">0</span> бутилки!
            </h1>
            <hr>
            <h2 class="display-5 font-italic">Вашият <span th:text="${isVoucher ? 'ваучер' : 'билет'}">билет</span> с
                код <span th:text="${ticketNumber}">TRYAGAIN</span> ще бъде изпринтен
                след като натиснете бутона.👇</h2>
            <hr>
            <h2 class="display-5  text-danger" th:if="${!isVoucher}">
                ❗Вземете билета и го регистрирайте в профила си до <span
                    th:text="${expirationFormatted}">DD/MM/YY TIME</span>,
                за да спечелите <span th:text="${bottlesCount*5}">0</span> точки❗
            </h2>

            <h2 class="display-5  text-danger" th:if="${isVoucher}">
                ❗Вземете ваучера и го използвайте в магазина до
                <span th:text="${expirationFormatted}">DD/MM/YY TIME</span>, за да получите отстъпка от
                <span th:text="${#numbers.formatDecimal(bottlesCount * 0.05, 1, 'DEFAULT', 2, 'DEFAULT')}">0</span>
                лева❗</h2>
            <br>

            <form action="/print" id="printForm" method="post">
                <input name="bottlesCount" th:value="${bottlesCount}" type="hidden">
                <input name="ticketNumber" th:value="${ticketNumber}" type="hidden">
                <input name="issuedOnFormatted" th:value="${issuedOnFormatted}" type="hidden">
                <input name="expirationFormatted" th:value="${expirationFormatted}" type="hidden">
                <button class="btn btn-primary btn-lg" type="submit">
                    <span th:text="${isVoucher ? 'Принтиране на ваучер' : 'Принтиране на билет'}">Принтиране на билет</span>
                </button>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>