<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printing</title>
    <link rel="icon" type="image/png" href="images/logo-removebg-preview.png">

    <style>
        /* Center the text vertically and horizontally */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            text-align: center;
        }

        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
<ul>
    <li><h1>Printing...</h1></li>
    <li><img src="images/print.png" alt="Printing"></li>
</ul>
<br>
<script>
    // Redirect to "/index" after 3 seconds
    setTimeout(function () {
        window.location.href = "/index";
    }, 3000);
</script>
</body>
</html>
