<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Награди</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">RecycleRewards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <th:block th:if="${loggedUser != null}">
            <div th:replace="~{fragments/navbar-logged-in}"></div>
        </th:block>
        <th:block th:unless="${loggedUser != null}">
            <div th:replace="~{fragments/navbar-logged-out}"></div>
        </th:block>
    </div>

</nav>


<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Награди</h1>
        <hr class="my-4">
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Награда</th>
                <th scope="col">Описание</th>
                <th scope="col">Необходим брой точки</th>
                <th scope="col">Крайна дата</th>
                <th scope="col">Брой на оставащите билети</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prize, rowStat : ${prizes}">
                <td th:text="${rowStat.index + 1}"></td>
                <td th:text="${prize.name}"></td>
                <td th:text="${prize.description}"></td>
                <td th:text="${prize.neededPointsToBuy}"></td>
                <td th:text="${prize.endDate}"></td>
                <td th:text="${prize.remainedTickets}"></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-lg" href="#" role="button">Бутон</a>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>