<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Регистрация на билет</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>


<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Регистрация на билет</h1>
        <p class="lead">Не забравяйте, че всеки билет има срок на валидност от 72 часа от издаването му!</p>
        <hr class="my-4">

        <form id="registerForm">
            <div class="form-group">
                <label for="ticketNumber">Въведете уникалния код на билета:</label>
                <input class="form-control" id="ticketNumber" name="ticketNumber" type="text">
                <small class="text-danger" id="ticketNumberError" style="display: none;">Билетът не беше намерен. Моля,
                    въведете валиден номер.</small>
            </div>
            <button class="btn btn-primary" id="registerButton" type="button">Добави точките към моя профил</button>
        </form>

        <div class="mt-3" id="ticketMessage"></div>

        <br>
        <br>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log("Document ready!"); // Check if document ready is called

        document.getElementById('registerButton').addEventListener('click', function () {
            console.log("Button clicked!"); // Check if button click event is triggered

            var ticketNumber = document.getElementById('ticketNumber').value;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/registerTicket', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        document.getElementById('ticketMessage').classList.remove('text-danger');
                        document.getElementById('ticketMessage').classList.add('text-success');
                        document.getElementById('ticketMessage').textContent = xhr.responseText;
                    } else {
                        document.getElementById('ticketMessage').classList.remove('text-success');
                        document.getElementById('ticketMessage').classList.add('text-danger');
                        document.getElementById('ticketMessage').textContent = xhr.responseText;
                    }
                }
            };
            xhr.send('ticketNumber=' + encodeURIComponent(ticketNumber));
        });
    });
</script>

</body>
</html>