<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Регистрация</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">RecycleRewards</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">Информация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Вход</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>Форма за Регистрация</h2>

    <!-- Add success message -->
    <div class="alert alert-success" role="alert" th:if="${success}">
        Вие се регистрирахте успешно. Можете да влезете в своя профил <a href="/login"> тук</a>.
    </div>

    <!-- Add error message -->
    <div class="alert alert-danger" role="alert" th:if="${error}">
        <span th:text="${error}"></span>
    </div>

    <!-- Registration form -->
    <form action="/register" method="post">
        <div class="form-group">
            <label for="firstName">Първо име:</label>
            <input class="form-control" id="firstName" name="firstName" required th:value="${firstName}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="lastName">Фамилия:</label>
            <input class="form-control" id="lastName" name="lastName" required th:value="${lastName}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="email">Електронна поща:</label>
            <input class="form-control" id="email" name="email" required th:value="${email}"
                   type="email">
        </div>
        <div class="form-group">
            <label for="password">Парола:</label>
            <input class="form-control" id="password" minlength="8" name="password" required type="password">
            <small class="password-strength">Паролата трябва да бъде поне 8 символа дълга.</small>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Повторете паролата:</label>
            <input class="form-control" id="confirmPassword" name="confirmPassword" required type="password">
        </div>
        <div class="form-group">
            <label>Потвърждавате ли, че сте навършили 18 години?</label><br>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" name="ageConfirmation" type="checkbox" value="yes"> Да
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Съгласявате ли се с условията за участие?</label><br>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" name="conditionsConfirmation" required type="checkbox" value="yes">
                    Да
                </label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Регистрация
        </button>
    </form>
</div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>
