<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="icon" type="image/png" href="images/logo-removebg-preview.png">
</head>
<body>
<h1>Регистрация</h1>
<br>
<form>
    <label for="firstName">Име:</label>
    <input type="text" id="first_ name" name="first_name">

    <label for="lastName">Фамилия: </label>
    <input type="text" id="last_name" name="last_name">

    <label for="email">Email: </label>
    <input type="text" id="email" name="email">

    <label for="password">Парола:</label>
    <input type="password" id="password" name="password">

    <label for="confirm_password">Повтори паролата:</label>
    <input type="confirm_password" id="confirm_password" name="confirm_password">

    <label fot="confirm_age">Потвърждавам, че имам навършени 18 години.</label>
    <input type="radio">

    <label fot="confirm_conditions">Съгласявам се с условията</label>
    <input type="radio">

    <input type="submit" name="Регистрация">

</form>
</body>
</html>