<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Актуализиране на паролата</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<div th:replace="~{fragments/navbar}"></div>

<body>
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Актуализиране на паролата</h1>
        <hr class="my-4">

        <form accept-charset="UTF-8" action="/reset_password" method="post">
            <input name="token" th:value="${token}" type="hidden">
            <div class="form-group">
                <label for="password">Нова парола:</label>
                <input class="form-control" id="password" name="password" required type="password">
            </div>
            <button class="btn btn-primary" type="submit">Актуализирай паролата</button>
            <div>
                <p>* След натискане на бутона, ще бъдете пренасочени към страницата за вход в профила, където можете да
                    използвате новите данни.</p>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>