<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<div>
    <h1>Click on "Add" button before every adding new bottle.</h1>
    <form action="/start" method="post">
        <button type="submit">Add bottle</button>
    </form>

    <h1>You added <span th:text="${bottlesCount}">0</span> bottles. Good job!</h1>
    <h2>If you are ready, click on "Print" button to take your ticket!</h2>

    <a href="/print"><button>Print</button></a>
</div>
</body>
</html>