<html lang="en-US" dir="ltr" data-locale="bg" class="locale-bg"><head>
    <!-- Google tag (gtag.js) -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-TLZHGNFC55"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-TLZHGNFC55');
    </script>

    <!-- Google tag (gtag.js) -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-873499091"></script>
    <script> window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-873499091');
    </script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Chupa Chups </title>

    <link rel="stylesheet" href="https://use.typekit.net/hvg5ghf.css">


    <link rel="stylesheet" href="/build/988.ea80d697.css"><link rel="stylesheet" href="/build/app.73381908.css">
    <script src="/build/runtime.393450e0.js" defer=""></script><script src="/build/755.2e26b232.js" defer=""></script><script src="/build/807.365b85d1.js" defer=""></script><script src="/build/406.0049317f.js" defer=""></script><script src="/build/988.c42ffefd.js" defer=""></script><script src="/build/app.9ca76de4.js" defer=""></script>



    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>


<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=G-TLZHGNFC55"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="header" id="header">
    <div class="container position-absolute" style="left: 0; right: 0">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="menu text-center d-flex justify-content-around align-items-center" style="max-width: 800px; margin: 0 auto;">
                    <a href="/products" class="menu-desktop">Мърч</a>
                    <a href="/rule" class="menu-desktop">Правила</a>
                    <a href="/" class="logo"><img src="/build/images/app/Logo.1ad476df.svg"></a>
                    <a href="/using-products" class="menu-desktop">Продукти</a>
                    <a href="/winners" class="menu-desktop">Печеливши</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-icons d-flex">
        <div class="header-icon-item">
            <a href="/shopping-cart">
                <img src="/build/images/app/Cart.e1aab3ab.svg">
            </a>
        </div>
        <div class="header-icon-item ms-4 ">
            <a href="/profile">
                <img src="/build/images/app/Profile1.a9f5946b.svg">
            </a>
        </div>
        <div class="header-icon-item ms-4 menu-mobile-icon" id="mobileIcon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header-icon-item"></div>
    </div>
    <div class="menu-mobile-items">
        <a href="/products" class="">Мърч</a>
        <a href="/rule" class="">Правила</a>
        <a href="/using-products" class="">Продукти</a>
        <a href="/terms-and-conditions" class="">Общи условия</a>
        <a href="/winners" class="">Печеливши</a>
    </div>
</div>


<div class="login-page content-100">
    <div class="login-wrap mt-5">

        <form action="/login" method="post">
            <input type="hidden" name="_csrf_token" value="0c28af290cf50.DCb8L_VOMLNURA384nyJOCaGe8y7jr4rUj6aQUFLOAc.TxHLH5w9e4sCIX2TsTv4AWiyDa73y_1BAG_7BxEce2Mhcc5fvTcE-wMIPQ" control-id="ControlID-1">
            <input type="hidden" name="_target_path" value="/login/success" control-id="ControlID-2">
            <div class="login-menu mb-5">
                <div class="login-btn active"><a href="/login">Вход</a></div>
                <div class="login-register"><a href="/registration">Регистрация</a></div>
            </div>
            <div class="form">

                <div class="form-group shopping-cart-form-item mb-3">
                    <div class="shopping-cart-form-item-icon"><img src="/build/images/app/mail-2.21ae1fd3.svg">
                    </div>
                    <div class="shopping-cart-form-item-input">
                        <label for="email">Имейл</label>
                        <input type="email" value="" name="_username" id="email" class="form-control" autocomplete="email" required="" autofocus="" control-id="ControlID-3">
                    </div>
                </div>
                <div class="form-group shopping-cart-form-item mb-3">
                    <div class="shopping-cart-form-item-icon"><img src="/build/images/app/password.d47983ca.svg"></div>
                    <div class="shopping-cart-form-item-input">
                        <label for="password">Парола</label>
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required="" control-id="ControlID-4">
                    </div>
                </div>
                <div class="forgot-password-block">
                    <div><a href="/reset-password">Забравена парола</a></div>
                    <div>
                        <label>
                            <input type="checkbox" name="_remember_me" id="remember_me" control-id="ControlID-5">
                            <span class="checkmark"></span>
                            Запомни ме
                        </label>

                    </div>
                </div>

                <div class="btn-wrap">
                    <button type="submit" control-id="ControlID-6">Вход</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="" id="cookie-info-bar">
    <div class="cookie-content">
        <div class="cookie-title">
            <h1>Бисквитки на този уебсайт</h1>
        </div>
        <div class="cookie-text">
            <p>Вие сте посетили нашата уебстраница. Тя инсталира бисквитки съгласно Политиката за Бисквитки, както технически, така и аналитични, което ни помага да анализираме Вашeто браузинг преживяване за статистически и рекламни цели, включително показване на персонализирани реклами.</p>
            <p>Кликнете <a href="/cookie">тук</a> за повече информация.</p>
        </div>
        <div class="btn-cookie-wrap">
            <button id="cookiesBtn">ПРИЕМИ И ПРОДЪЛЖИ</button>
        </div>
        <div class="cookie-lollipops">
            <img src="/build/images/app/lollipop-line.ad1a77ed.png" alt="">
        </div>
    </div>
</div>

<div class="footer">
    <div class="container-fluid">
        <div class="row align-items-center pt-2 pb-2">
            <div class="col-12 col-md-2 text-center text-md-end pb-2">

                <a href="https://www.facebook.com/chupachupsbg/" target="_blank">
                    <img src="/build/images/app/facebook-square-brands.64db62e3.svg" alt="facebook-icon">
                </a>
                <a href="https://www.instagram.com/chupachupsbulgaria/" target="_blank" class="ms-2">
                    <img src="/build/images/app/instagram-brands.5e150581.svg" alt="instagram-icon">
                </a>

                <a href="mailto:contact@bg.chupachupsclub.com" target="_blank" class="ms-1">
                    <img src="/build/images/app/mail-1.35b060e2.svg" alt="mail-icon">
                </a>
            </div>
            <div class="col-12 col-md-8 text-center">
                <a href="/confidentiality">Декларация за поверителност</a>
                <a href="/cookie" class="ms-2">Декларация за бисквитки</a>
                <a href="/terms-and-conditions" class="ms-2">Общи условия</a>
            </div>
            <div class="col-12 col-md-2 text-center text-md-start">
                <div class="third-foot" style="padding-bottom: 3px;">
                    <a href="https://thedots-agency.com/" target="_blank">
                        design: The Dots agency
                    </a>
                </div>
                <div class="third-foot">
                    <a href="https://devscale.bg/" target="_blank" title="DevScale - Software development and design">
                        powered by: DevScale
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var mobileIcon = document.getElementById('mobileIcon');
    var header = document.getElementById('header');

    mobileIcon.addEventListener('click', function () {
        if (header.classList.contains('active')) {
            header.classList.remove('active');
        } else {
            header.classList.add('active');
        }
    })
</script>



<div id="apple-password-autofill-list" style="z-index: 2147483647 !important; padding: 0px !important; margin: 0px !important; border-radius: 8px !important; position: fixed !important; color-scheme: normal !important; box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px, rgba(0, 0, 0, 0.18) 0px 8px 15px 6px !important; border: 1px solid rgba(0, 0, 0, 0.9) !important; overflow: hidden !important; backdrop-filter: blur(20px) !important; background-color: rgba(35, 35, 35, 0.83) !important; top: 304px !important; left: -999999px !important; opacity: 0 !important; visibility: hidden !important;"></div></body></html>