<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Печеливши</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <div class="jumbotron p-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="display-4">Печеливши от томболи🎁</h1>
            <div th:if="${loggedIn != null and loggedUser != null and loggedIn and loggedUser.role == T(com.fcst.student.RecycleRewards.model.enums.Role).ADMIN}">
                <a class="btn-sm btn-primary" href="/admin_raffle">Теглене на печелившите от томболите</a>
            </div>
        </div>
        <hr class="my-4">
        <p>Не забравяйте, че можете да сортирате редовете в таблицата като натиснете върху името на колоната, по
            която желаете да сортирате таблицата веднъж, за да сортирате текста в колоната по азбучен ред, а при
            повторно
            натискане: по обратен ред.</p>
        <div id="wonPrizes" style="display: block;">
            <div style="overflow-x:auto; overflow-y:auto; max-height: 400px;">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">Награда №</th>
                        <th class="text-center" scope="col">Дата на теглене</th>
                        <th class="text-center" scope="col">Награда</th>
                        <th class="text-center" scope="col">Описание</th>
                        <th class="text-center" scope="col">Потребител №</th>
                        <th class="text-center" scope="col">Име</th>
                        <th class="text-center" scope="col">Фамилия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prize : ${wonPrizes}"
                        th:if="${prize.prize.getType() == T(com.fcst.student.RecycleRewards.model.enums.PrizeType).RAFFLE}">
                        <td><span class="text-center" th:text="${prize.prize.prizeCode}"></span></td>
                        <td><span class="text-center"
                                  th:text="${#temporals.format(prize.prize.endDate, 'yyyy-MM-dd')}"></span></td>
                        <td><span class="text-center" th:text="${prize.prize.name}"></span></td>
                        <td><span class="text-center" th:text="${prize.prize.description}"></span></td>
                        <td><span class="text-center" th:text="${prize.user.userCode}"></span></td>
                        <td><span class="text-center" th:text="${prize.user.firstName}"></span></td>
                        <td><span class="text-center" th:text="${prize.user.lastName}"></span></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        // Event handler for sorting by column
        var sortOrders = {}; // Object to track sorting orders for each column

        $('th').on('click', function () {
            var columnIndex = $(this).index(); // Get the index of the clicked column

            // Toggle sorting order or set to ascending if not already set
            sortOrders[columnIndex] = (sortOrders[columnIndex] === 'asc') ? 'desc' : 'asc';

            // Get the table body
            var $tbody = $('table tbody');

            // Sort the rows based on the clicked column
            var rows = $tbody.find('tr').toArray();
            rows.sort(function (a, b) {
                var valueA = $(a).find('td:eq(' + columnIndex + ') span').text();
                var valueB = $(b).find('td:eq(' + columnIndex + ') span').text();


                if (sortOrders[columnIndex] === 'asc') {
                    return (valueA < valueB) ? -1 : (valueA > valueB) ? 1 : 0;
                } else {
                    return (valueA > valueB) ? -1 : (valueA < valueB) ? 1 : 0;
                }
            });

            // Reorder the rows in the table
            $.each(rows, function (index, row) {
                $tbody.append(row);
            });
        });
    });
</script>

</body>

</html>