<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Печеливши</title>
    <link href="images/logo-removebg-preview.png" rel="icon" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <div class="jumbotron">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="display-4">Печеливши от томболи🎁</h1>
            <div th:if="${loggedIn && loggedUser.role == T(com.fcst.student.RecycleRewards.model.enums.Role).ADMIN}">
                <a class="btn-sm btn-primary" href="/admin_raffle">Теглене на печелившите от томболите</a>
            </div>
        </div>
        <hr class="my-4">

        <div id="wonPrizes" style="display: block;">
            <div style="overflow-x:auto; overflow-y:auto; max-height: 400px;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Награда №</th>
                        <th scope="col">Дата на теглене</th>
                        <th scope="col">Награда</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Печеливш №</th>
                        <th scope="col">Име</th>
                        <th scope="col">Фамилия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prize : ${wonPrizes}"
                        th:if="${prize.prize.getType() == T(com.fcst.student.RecycleRewards.model.enums.PrizeType).RAFFLE}">
                        <td th:text="${prize.prize.id}"></td>
                        <td th:text="${prize.prize.endDate}"></td>
                        <td th:text="${prize.prize.name}"></td>
                        <td th:text="${prize.prize.description}"></td>
                        <td th:text="${prize.user.id}"></td>
                        <td th:text="${prize.user.firstName}"></td>
                        <td th:text="${prize.prize.name}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>